<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>hotkey</title>
    <script src="angular.min.js"></script>
    <script src="hotkey.js"></script>
  </head>
  <body ng-app="app" ng-controller="DemoCtrl">
    <p>
      <input type="text" hotkey="ctrl+I"></input>
      press Ctrl+I
    </p>
    <p>
      <input type="text" hotkey="F2"></input>
      press F2
    </p>
    <p>
      <textarea hotkey="ctrl+shift+v"></textarea>
      press Ctrl+Shift+V
    </p>
    <p>
      <button hotkey="CTRL+M Meta+M" ng-click="run()">Ctrl+M or Meta+M</button>
      press Ctrl+M or Command+M
    </p>
    <p>
      <input type="text" enter="show()" ng-model="data"></input>
      input text and press Enter
    </p>
    <script>
      var app = angular.module('app', ['hotkey']);
      var DemoCtrl = function($scope){
        $scope.run = function(){
          alert('run');
        }
        $scope.show = function(){
          alert($scope.data);
        }
      }
      DemoCtrl.$inject = ['$scope']
    </script>
  </body>
</html>
